<%- include("top.ejs") %>
    <link rel="stylesheet" href="/stylesheets/customer.css">
    <p>Preencha os campos abaixo para cadastrar ou editar um cliente.</p>
    <form action="/customers/new" method="POST">

      <div class="row mb-3">
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input type="text" name="nome" value="<%= customer.nome %>" class="form-control" placeholder="Nome do cliente"/>
        </div>
      </div>

      <div class="row mb-3">
        <div class="form-group">
          <label for="idade">Idade:</label>
          <input type="number" name="idade" value="<%= customer.idade %>" class="form-control" placeholder="Idade do cliente"/>
        </div>
      </div>
      
      <div class="row mb-3">
        <div class="form-group">
          <label for="cpf">CPF:</label>
          <input type="number" name="cpf" value="<%= customer.cpf %>" class="form-control" placeholder="CPF do cliente"/>
        </div>
      </div>

      <div class="row mb-3">
        <div class="form-group">
          <label for="cidade">Região:</label>
          <div class="input-group">
            <input type="text" name="cidade" value="<%= customer.cidade %>" class="form-control" placeholder="Cidade do cliente"/>
            <select name="uf" id="uf" class="form-control">
              <option>Selecione a UF:</option>
            </select>
          </div>
        </div>
      </div>

        <input type="hidden" name="id" value="<%= customer._id %>" />
        <p>
          <input type="submit" value="Salvar" class="btn btn-primary"/>
          <a href="/customers" class="btn btn-secondary">Cancelar</a>
        </p>
  
    </form>
    <script>
      fetch("https://servicodados.ibge.gov.br/api/v1/localidades/estados")
          .then(response => response.json())
          .then(json => {
              const ufsHtml = document.getElementById("uf");
              const siglas = json.map(item => item.sigla).sort();
              siglas.forEach(item => {
                  const opt = document.createElement('option');
                  opt.innerText = item
                  ufsHtml.add(opt);
              });

              <%
                if(customer.uf){
                    %>
                    document.getElementById("uf").value = "<%= customer.uf %>"
                    <%
                }
              %>
            })
          .catch(err => alert(error))
      if(window.location.search){
          const error = window.location.search.split('=')[1];
          alert(decodeURI(error));
      }
    </script>
 <%- include("bottom.ejs") %>