<%- include("top.ejs") %>
    <link rel="stylesheet" href="/stylesheets/customer.css">
    <p>Preencha os campos abaixo para cadastrar ou editar um usu치rio.</p>
    <form action="/users/new" method="POST">

      <div class="row mb-3">
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input type="text" 
                 name="nome" 
                 value="<%= user.nome %>" 
                 class="form-control" 
                 placeholder="Nome do usu치rio"
            />
        </div>
      </div>

      <div class="row mb-3">
        <div class="form-group">
          <label for="email">E-mail:</label>
          <input type="text" 
                 name="email" 
                 value="<%= user.email %>" 
                 class="form-control" 
                 placeholder="E-mail do usu치rio"
           />
        </div>
      </div>

      <div class="row mb-3">
        <div class="form-group">
          <label for="senha">Senha:</label>
          <input type="password" 
                 name="senha" 
                 value="" 
                 class="form-control" 
                 placeholder="Senha do usu치rio"
           />
        </div>
      </div>

        <input type="hidden" name="id" value="<%= user._id %>" />
        <p>
          <input type="submit" value="Salvar" class="btn btn-primary"/>
          <a href="/users" class="btn btn-secondary">Cancelar</a>
        </p>
  
    </form>
    <script>
      if(window.location.search){
          const error = window.location.search.split('=')[1];
          alert(decodeURI(error));
      }
    </script>
 <%- include("bottom.ejs") %>